# Build directories
/build*/
/cmake-build*/
_deps/

# Compiled output
*.o
*.lo
*.la
*.a
*.so
*.so.*
*.dylib
*.dSYM/
*.tar.gz
test/a.out

# Legacy autotools output (build system removed in favour of CMake)
/configure
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/config.guess
/config.sub
/libtool
/ltmain.sh
/install-sh
/missing
/depcomp
/compile
/stamp-h1
/m4/
src/Makefile
src/Makefile.in
src/.deps/
src/.libs/

# Python
__pycache__/
*.pyc

# Editor and OS
.DS_Store
/fontconfig/
